# Elasticsearch Tests report

Endpoints that are currently being tested are marked as done and link to the test where they're being used.

* **STACK** - **Total**: <%= @reporter.apis[:specification].count %> | **Tested**: <%= @reporter.stack_tested_count %> | **Untested**: <%= @reporter.stack_untested_count %> ![](https://geps.dev/progress/<%= @reporter.coverage_stack %>)
* **SERVERLESS** - **Total**: <%= @reporter.serverless_apis.count %> | **Tested** <%= @reporter.serverless_tested_count %> | **Untested**: <%= @reporter.serverless_untested_count %> ![](https://geps.dev/progress/<%= @reporter.coverage_serverless %>)
* [APIs in JSON spec and not in elasticsearch-specification](#apis-in-json-spec-and-not-elasticsearch-specification)

## Endpoints in elasticsearch-specification

| Endpoint name | Available in Stack | Tested in Stack | Available in Serverless | Tested in Serverless |
| :------------ | :----------------: | :-------------: | :---------------------: | :------------------: |
<%= @reporter.display_table -%>

<details>
  <summary>Internal APIs (Not tracked)</summary>
  <ul>
    <%= @reporter.apis[:internal].map { |a| "<li><code>#{a}</code></li>" }.join("\n") -%>
  </ul>
</details>

<details>
  <summary>Endpoints in stack JSON spec</summary>
<%=  @reporter.apis[:json].map { |a| "<code>#{a}</code>" }.join(', ') -%>
</details>

<% difference = @reporter.apis[:json] - @reporter.apis[:specification].map { |a| a['name'] } -%>
<%  unless difference.empty? -%>
  <details>
    <summary id="apis-in-json-spec-and-not-elasticsearch-specification">APIs in JSON spec and not elasticsearch-specification</summary>
    <%= difference.map { |a| "<code>#{a}</code>" }.join(', ') -%>
  </details>
<% end -%>
